/*
Paleta de cores:
    #C5EBD6
    #83E1AD
    #3DDC84
    #2FA766
    #063D1E

*/
@font-face {
    font-family: 'iDroid';
    src: url(../fontes/idroid.otf) format('opentype'); 
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0px;
    background-color: #83E1AD;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    text-align: center;
    background-image: linear-gradient( #C5EBD6, #063D1E);
    padding: 5px;
    color: #ffffffec;
    font-family: 'Bebas Neue', cursive;

  
}

article >h1, h2{
    font-family: 'iDroid';
    color:#063D1E;
}
h2{
    background-image: linear-gradient(to right, #83E1AD, #C5EBD6);
    
}
header > p{

   
    font-size: 0.8em
}


nav{
    background-color:  #063D1E;
    text-align: left;
    margin-top: 0;
    font-weight: lighter;
    font-size: 0.8em;
    font-family: 'Bebas Neue', cursive;
}
nav >a{
    
    text-decoration: none;
    color: rgba(255, 255, 255, 0.993);
    margin-right: 10px;
}

a:hover {
     
    text-decoration: underline;
    color:#adfcd1;
}


main{
    display: flex;
    align-items: center;
    padding:10px;
    margin: 0px 100px;
    background-color: white;
}
footer{
    background-color: #2C6B2F;
    color: white;
    text-align: center;
    margin: 0;
 
    font-weight: lighter;

}
h3{
    background-color: #83E1AD;  
    color: white;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2px;
    font-weight: lighter;
    font-size: 0.8em;
    padding-left: 10px;
}
aside{
    background-color: #adfcd1;
    border-radius: 10px;
    padding: 10px 2px;

}
ul{
    list-style: none;
}

ul li::before{
    content: '✓';
}